$color-text:#333;
$color-main:#3f51b5;
$color-sub:#7385e9;
$color-green:#DCEE39;
$color-red:#B53F4F;
$color-kon:#20295B;


*,
*::before,
*::after{
  box-sizing:border-box;
}

body{
  font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  background-color: #fff;
  color:$color-text;
  margin:0;
}
img{
  max-width: 100%;
  height:auto;
}
ul,ol{
  list-style: none;
  padding:0;
  margin:0;
}
h1,h2,h3,h4,h5,h6{
  padding:0;
  margin:0;
}
a{
  color:inherit;
  //inherit=親要素の色を継承し自動的に色がつくようにする


}
body{
  background-color: gray;
  font-size:24px;
  font-weight:bold;
  color:$color-text;
  line-height:(41 / 24);
}
.head{
  width:750px;
  height:1761px;
  background-color: #fff;
  margin:0 auto;
}

.inner{
  width:475px;
  margin:0 auto;
  padding-top: 140px;
}
.mm{
  margin-bottom: 48px;
}

.m1{
  border-bottom:3px solid $color-main;
}

.m2{
  border-bottom:3px dotted $color-main;
}
.m3{
  background-color:$color-main;
  color:#fff;
  padding-left: 10px;
}
.m4{
  background-color:$color-sub;
  color:#fff;
  padding-left: 10px;
}
.m5{
  border-left:5px solid $color-main;
  padding:3px 12px;
}

.m6{
  position:relative;
  width:100%;
  z-index:100;
  padding-left: 4px;
}
.m6bar{
  // content:"";
  background:$color-green;
  width:190px;
  height:16px;
  position:absolute;
  left:0;
  top:24px;
  // transform: translateX(-50%);
  z-index:-1;
}
.m7{
  span{
    background: $color-green;
    display: inline-block;
    padding: 3px;
    &:nth-child(n + 2){
      margin-top: 8px;
    }
}}
.m8{
  background-color:$color-main;
  color:#fff;
  position: relative;
  padding-left: 10px;

  &::after{
    position: absolute;
    content:"";
    left:32px;
    top:100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 13px 0 13px;
    border-color: $color-main transparent transparent transparent;
  }
}
.m9{
  border-bottom:3px solid $color-main;
  position: relative;
  &::after{
    content: "";
    width:83px;
    height:3px;
    background:#B53F4F;
    position:absolute;
    left:0;
    top:100%;
  }
}
.m10{
  position:relative;
  padding-left: 13px;
  margin-bottom: 36px;
  &::before{
    content:"";
    background: $color-main;
    width:5px;
    height:36px;
    position:absolute;
    left:0;
    //下記の２行で上下中央に揃える
    top:50%;
    transform: translateY(-50%);
  }
}
.m11{
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  &::after{
    position:absolute;
    content:"";
    background:$color-main;
    width:54px;
    height:4px;
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
  }
}

//アイコン画像なら、DLした2倍の方を使用
.m12{
  position: relative;
  padding-left: 24px;
  &::before{
    content: "";
    width: 19px;
    height: 15px;
    background: url(../img/check.png) no-repeat center center / contain;
    //contain=縦横比を維持したまま画像を使う。
    position: absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);//上下中央
  }
}
.m13{
  position: relative;
  display:inline-block;
  padding-right: 27px;
  &::after{
    content:"";
    width:19px;
    height:22px;
    background:url(../img/glass.png) no-repeat center center / contain;
    position: absolute;
    right:0;
    top:-10px;

  }
}
.m14{
  text-align: center;
  span{
    display: inline-block;
    position: relative;
    padding: 0 16px;
    &::before{
      content:"";
      width:3px;
      height:34px;
      background:$color-main;
      position: absolute;
      left: 0;
      top:50%;
      transform: translateY(-50%) rotate(-15deg);
    }
    &::after{
      content:"";
      width:3px;
      height:34px;
      background:$color-main;
      position: absolute;
      right: 0;
      top:50%;
      transform: translateY(-50%) rotate(15deg);
    }
  }
}
.m15{
  text-align: center;
  position: relative;
  &::before{
    content:"";
    position: absolute;
    top:50%;
    left:0;
    width:100%;
    height:3px;
    transform: rotateY(50%);
    background:$color-main;
  }
  span{
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 0 10px;
  }
}
.m16{
  background:repeating-linear-gradient(-45deg,#a7baff 0 15px,
  #7386e9 15px 30px);
  padding: 4px;
  display: inline-block;
}
.m17{
  position:relative;
  z-index:100;
  padding-left: 4px;
}
.m17bar{
  background:repeating-linear-gradient(-45deg,#a7baff 0 15px,
  #7386e9 15px 30px);
  width:205px;
  height:16px;
  position:absolute;
  left:0;
  top:24px;
  z-index:-1;
}
// -----------------------------------
// -----------------------------------

.button{
  width:750px;
  height:1761px;
  background-color: #fff;
  margin:0 auto;
  padding-top: 100px;
}


.bb{
  margin-bottom: 48px;
  font-size:16px;
  color:#fff;
  cursor:pointer;
  margin:0 auto 48px auto;
}
.b1{
  width:240px;
  padding:14px;
  background-color: $color-main;
  border-radius:3px;
  text-align: center;
  // 本当はaタグで作る

}
.b2{
  width:240px;
  padding:14px;
  background-color: $color-main;
  border-radius:3px;
  text-align: center;
  // display: inline-block;
  position: relative;
  &::after{
    content:"";
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right:16px;
    width:7px;
    height:16px;
    background: url(../img/button-arrow@2x.png)no-repeat center center / contain;
  }
}
.b3{
  width:240px;
  padding:14px;
  background-color: $color-main;
  border-radius:3px;
  text-align: center;
  
  span{
    position: relative;
    padding-right: 19px;
    display:inline-block;
    
    &::after{
      content:"";
      position: absolute;
      top:50%;
      transform:translateY(-50%);
      right:0;
      width:7px;
      height:16px;
      background: url(../img/button-arrow@2x.png)no-repeat center center / contain;
    }
  }
}
.b4{
  width:240px;
  padding:14px;
  background-color: $color-main;
  border-radius:3px;
  text-align: center;
  box-shadow: 0px 4px 0px $color-kon;
}
.b5{
  width:240px;
  padding:14px;
  background:linear-gradient(to bottom,$color-main,$color-kon);
  border-radius:3px;
  text-align: center;
}
.b6{
  width:240px;
  padding:14px;
  border-radius:3px;
  text-align: center;
  border:2px solid #fff;
  background: transparent;
  margin:0 auto;
}
.b7{
  width:120px;
  height:120px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: $color-main;
  border-radius:50%;
  margin-top: 40px;
  line-height: (24 / 16);
}
.b8{
  width:240px;
  padding:14px;
  background-color: $color-main;
  border-radius:115px;
  text-align: center;
  position: relative;
  &::after{
    content:"";
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right:16px;
    width:7px;
    height:16px;
    background: url(../img/button-arrow@2x.png)no-repeat center center / contain;
}}
.b9{
  width:240px;
  padding:14px;
  background-color: $color-main;
  // border-radius:115px;
  text-align: center;
  border-bottom: 3px solid pink;
}
.b10{
  
}